{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	


<div class="login-wrap">
  <h2>Login</h2>

	  {% if error is defined %}
	    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}
  
  <div class="form">

  <form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="text" placeholder="Username" name="_username" />
    
    <input type="password" placeholder="Password" name="_password" /></br>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    
   <input type="submit" class="button" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
  </div>
</div>

{% endblock fos_user_content %}
