{% extends "EmailBoxBundle:Default:email_layout.html.twig" %}
{% block fos_user_content %}
<div id="navbar" class="navbar navbar-default ace-save-state">
   <div class="navbar-container ace-save-state" id="navbar-container">
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
      <span class="sr-only">Toggle sidebar</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="navbar-header pull-left">
         <a href="http://ace.jeka.by/index.html" class="navbar-brand">
         <small>
         <i class="fa fa-leaf"></i>
         Email Details
         </small>
         </a>
      </div>
      <div class="navbar-buttons navbar-header pull-right" role="navigation">
         <a href="{{ logout_path(app.security.token.providerKey) }}" class="navbar-brand">
         <small>
         <i class="fa fa-leaf"></i>
         Logout</br>
         </small>
         </a>
      </div>
   </div>
   <!-- /.navbar-container -->
</div>
{% endblock fos_user_content %}

{% block mail_detail %}
<div class="main-content">
<div class="main-content-inner">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<div class="page-content">
<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->
<div class="row">
<div class="col-xs-12">
<table id="simple-table" class="table  table-bordered table-hover">
{% for viewEmail in viewEmails %}
<tr>
<td>From</td>
<td>{{ viewEmail.sendFrom }}</td>
</tr>
<tr>
<td>To</td>
<td>{{ viewEmail.sendTo }}</td>
</tr>
<tr>
<td>Subject</td>
<td>{{ viewEmail.subject }}</td>
</tr>
<tr>
<td>Content</td>
<td>{{ viewEmail.content }}</td>
</tr>
<tr>
<td>Date</td>
<td>{{ viewEmail.date|date('Y-m-d H:i:s') }}</td>
</tr>
<tr colspan="2">
<td><a href="{{ path('email_reply', { 'emailId': viewEmail.id }) }}" class="status">Reply</a>
<a href="{{ path('email_forward', { 'emailId': viewEmail.id }) }}" class="status">Forward</a>
<a href="{{ path('email_delete', { 'emailId': viewEmail.id }) }}" class="status">Delete</a></td>
</tr>
{% endfor %}
</table>

{% if priMails is defined %}
<hr style="border: 1px solid black"></hr>
<h1>Privious mails</h1>
{% for pemail in priMails %}
<table id="simple-table" class="table  table-bordered table-hover">
<tr>
<td>From</td>
<td>{{ pemail.mailFrom }}</td>
</tr>
<tr>
<td>To</td>
<td>{{ pemail.mailTo }}</td>
</tr>
<tr>
<td>Subject</td>
<td>{{ pemail.subject }}</td>
</tr>
<tr>
<td>Content</td>
<td>{{ pemail.reply }}</td>
</tr>
<tr>
<td>Date</td>
<td>{{ pemail.replyDate|date('Y-m-d H:i:s') }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
</div><!-- /.span -->
</div><!-- /.row -->
<div>
</div>
{% endblock mail_detail %}